---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import TeamEntry from "@/components/team/TeamEntry.astro";
// Content
import { getCollection } from "astro:content";
const allAuthors = await getCollection("team");
---
<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-48 pb-24">
      <Text
        tag="h1"
        variant="displayXL"
        class="text-accent-950 uppercase font-display font-medium text-balance"
      >
        Meet the Humans Behind the HTML
      </Text>
      <div class="mt-12 grid grid-cols-1 gap-1 md:grid-cols-2 lg:grid-cols-3 gap-y-24">
        {
          // Sorting authors alphabetically inline
          allAuthors
            .sort((a, b) => {
              const nameA = a.data.name.toLowerCase();
              const nameB = b.data.name.toLowerCase();
              return nameA < nameB ? -1 : nameA > nameB ? 1 : 0;
            })
            .map((post) => <TeamEntry post={post} />)
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
