---
// Assets
import Kicker from "@/components/assets/Kicker.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const data = [
  {
    title: "New to Astro?",
    subtitle: "Start from zero and build confidence with hands-on projects.",
  },
  {
    title: "Frontend devs who want leaner builds",
    subtitle:
      "Trim JavaScript, speed up pages, and love your Lighthouse scores.",
  },
  {
    title: "Designers and indie makers",
    subtitle: "Ship beautiful, performant sites without fighting your stack.",
  },
  {
    title: "Content creators & bloggers",
    subtitle: "Deliver fast-loading posts with SEO baked in.",
  },
  {
    title: "Framework-curious folks",
    subtitle: "Get modern site-building skills—no React degree required.",
  },
];
---

<section>
  <Wrapper variant="standard" class="py-8">
    <div class="p-8 lg:p-20 bg-accent-100">
      <div
        class="grid gap-4 lg:gap-8 grid-cols-1 lg:grid-cols-3 lg:items-start"
      >
        <div class="text-balance lg:sticky lg:top-24">
          <div>
            <Kicker
              number="02"
              text="Who It's For"
              colorClass="text-base-900"
            />
            <Text
              tag="h2"
              variant="textXL"
              class="text-accent-950 font-display font-medium mt-12"
            >
              This course meets you where you are
            </Text>
          </div>
          <Text tag="p" variant="textSM" class="mt-2 text-base-600">
            A practical fit for developers, designers, indie makers, and anyone
            ready to build faster with fewer tools.
          </Text>
        </div>
        <div
          class=" gap-8 flex flex-col lg:col-span-2 divide-y divide-accent-200"
        >
          {
            data.map((item) => (
              <div>
                <div class="relative flex flex-col justify-start  pb-8 flex flex-col gap-2 ">
                  <Text
                    tag="h3"
                    variant="textLG"
                    class=" text-base-900 font-display tracking-tight"
                  >
                    {item.title}
                  </Text>
                  <Text
                    tag="p"
                    variant="textSM"
                    class=" text-base-900/60 text-balance "
                  >
                    {item.subtitle}
                  </Text>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </Wrapper>
</section>
