---
import { AstroSeo } from "@astrolib/seo";
const { title, description } = Astro.props;
---
<title>{title}</title>
<AstroSeo
  title={title}
  description={description}
  canonical={Astro.url}
  openGraph={{
    url: Astro.url,
    title,
    description,
    images: [
      {
        url: "https://fabform.io/screenshot.jpg",
        width: 1200,
        height: 630,
        alt: "Open Graph Image Alt",
        type: "image/jpeg",
      },
    ],
    site_name: "fabform",
    type: "website",
    locale: "en_US",
  }}
  twitter={{
    handle: "@yourhandle",
    site: "@yourwebsite",
    cardType: "summary_large_image",
  }}
/>

